.nav {
    display: flex;
    align-items:center;
   
    background-color: #5CB3FF;
    color: white;

}

.ulist {
    list-style-type: none;
    display: flex;

}

.logo {
    width: 80px;
    margin: 10px;

}

a {
    text-decoration: none;
    color: white;
}

li {
    padding-left: 180px;
}

h2 {
    padding-left: 120px;
}

